.hero {
  background: url('../../public/assets/heroBg.png') top center no-repeat;
  background-size: 100% 100%;
  color: var(--white);

  .heroImage {
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      &:last-child {
        animation: swapImage 4s ease-in-out infinite forwards;
      }
    }

    @keyframes swapImage {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  .cursor {
    animation: blinking 0.5s ease-in-out infinite forwards;

    @keyframes blinking {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
.cardWrapper {
  margin-top: 5em;

  background: #1053f3 url('../../public/assets/line-9.png') top center no-repeat;
  background-size: cover;
}

.spendGlobal {
  background: #fff url('../../public/assets/spendbg.png') top right no-repeat;
  background-size: 60%;
}
