.footer {
  background: #fff;
  padding: 4em 0;
  position: relative;
  overflow: hidden;

  h4 {
    font-weight: 700;
    margin: 0.6em 0;
  }

  ul li {
    margin-bottom: 0.6em;
    a {
      font-weight: 400;
    }
  }
}
